<!-- About NITRkl and ER Department -->

<style>
    img {
    max-width: 100%;
    height: auto;
    }

    div.gallery {
      border: 1px solid #ccc;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>

<section id="about_nit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading"><a href="https://www.nitrkl.ac.in/"> NIT Rourkela</a></h3>
                <p class="para">
                    National Institute of Technology (NIT)
                    Rourkela is an institute of national importance.
                    The main objective of the Institute is to produce
                    quality Engineers and Scientists in Graduate and
                    Post-Graduate levels in various branches of
                    Engineering and Science. The Institute is
                    managed by the Board of Governors of NIT
                    Rourkela and vested with significant degree of
                    administrative and financial autonomy. It
                    promotes advanced research across the
                    disciplines.
                </p>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="1.jpg">
            <img src="img/about_nit/1.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="2.jpg">
            <img src="img/about_nit/2.jpg" alt="Forest" width="600" height="400">
          </a>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="3.jpg">
            <img src="img/about_nit/3.jpg" alt="Northern Lights" width="600" height="400">
          </a>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="4.jpg">
            <img src="img/about_nit/4.jpg" alt="Mountains" width="600" height="400">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="section-subheading text-muted"></h3>
            <h3 class="section-heading"><a href="https://website.nitrkl.ac.in/ER/">Department of Earth and Atmospheric Sciences</a></h3>
            <p class="para">
                The Department of Earth and Atmospheric
                Science is set up to provide state of the art
                education and research in earth, climate and
                ocean sciences. Earth and Atmospheric Science
                is a strongly interdisciplinary subject which links
                different resources (e. g. minerals, energy and
                water), natural hazards, environmental issues,
                and also serves as a significant relation to
                weather and climate, which is inevitable for
                human life and our society. The department
                would focus on the exploration of economically
                important mineral and energy resources,
                evolution and internal dynamics of Earth,
                surficial processes, natural & human-induced
                hazards, environmental issues, weather and
                climate and air quality modelling.
            </p>
        <h3 class="section-subheading text-muted"></h3>
        </div>
    </div>
    <img src="img/about_nit/5.jpg" alt="er_dept" width=100% height="300">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted"></h3>
                <h3 class="section-heading">ACCOMMODATION DETAILS</h3>
                <p class="para">
                    There are so many budget friendly hotels
                    near by the Rourkela Railway station.
                    Please visit for accommodation (), Apart
                    from this the organizing committee will
                    also arrange the accommodation on first
                    come first basis at Institute guest house
                    during 9-12,January, 2023. 
                    Interested delegates may send their requests to
                    <a href = "mailto: lai23nitrkl@gmail.com">lai23nitrkl@gmail.com</a>.
                </p>
                <h3 class="section-subheading text-muted"></h3>
                <h3 class="section-heading">HOW TO REACH NITR</h3>
                <p class="para">
                    <strong>Rail:</strong> Rourkela is well connected by train routes
                    with all parts of the country. It is situated on the
                    Howrah –Mumbai line and as well as on
                    Ranchi-Bhubaneshwar line. <br>
                    
                    <strong>Road:</strong> Rourkela is well connected with the
                    various parts of the state by NH 10 & 23. <br>
                    
                    <strong>Station to NITR Campus:</strong> Auto/Taxi available at
                    Rourkela railway station, which is 7 km away
                    from the campus. <br>
                </p>
                <style>
                    table, td, th, tr {
                      border:1px solid #000;
                      border-collapse: collapse;
                    }
                    th {
                        text-align: center;
                    }
                    table {
                        text-align: center;
                    }
                    td, th {
                        padding: 10px;
                    }
                    </style>
                <body>
                <table style="width:100%">
                    <tr>
                      <th>Nearest Railway Stations</th>
                      <th>Nearest Airport</th>
                    </tr>
                    <tr>
                      <td>Rourkela-7 kms <br>
                        Jharsuguda-130 kms <br>
                        Tatanagar- 135 kms <br>
                        Ranchi- 170 km</td>
                      <td>Jharsuguda - 130 km <br>
                        Ranchi-170 kms</td>
                    </tr>
                </table>
                </body>
            </div>
        </div>
    </div>
</section>