<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">OBJECTIVE OF CONFERENCE</h3>
                <p> <h3 class="section-subheading-para">
                    The overarching aim of the seminar is to
                    bring together the experts in the field of land
                    surface and atmosphere interactions to
                    discuss and share knowledge for the benefit
                    of society with a special emphasis to
                    complex orography regions, such as the
                    Himalayas.
                </h3>
                </p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <h3 class="section-subheading text-muted"></h3>
            <h3 class="section-heading">Timeline</h3>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="section-subheading text-muted"></h3>
                                <h4>10 November, 2022</h4>
                                <h4 class="subheading">Online registration and abstract submission</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p class="text-muted">Please submit your abstract and register well before this date</p>
                            </div> -->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="section-subheading text-muted"></h3>
                                <h4>25 November, 2022</h4>
                                <h4 class="subheading">Intimation on Acceptance of Abstract</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="section-subheading text-muted"></h3>
                                <h4>10 December, 2022</h4>
                                <h4 class="subheading">Confirmation of participation</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4> Publishing 
                                <br>of
                                <br>Research</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted"></h3>
                <h3 class="section-heading"><a href="https://www.nitrkl.ac.in/"> NIT Rourkela</a></h3>
                <p class="para">
                    National Institute of Technology (NIT)
                    Rourkela is an institute of national importance.
                    The main objective of the Institute is to produce
                    quality Engineers and Scientists in Graduate and
                    Post-Graduate levels in various branches of
                    Engineering and Science. The Institute is
                    managed by the Board of Governors of NIT
                    Rourkela and vested with significant degree of
                    administrative and financial autonomy. It
                    promotes advanced research across the
                    disciplines.
                </p>
                <h3 class="section-subheading text-muted"></h3>
                <h3 class="section-heading"><a href="https://website.nitrkl.ac.in/ER/">Department of Earth and Atmospheric Sciences</a></h3>
                <p class="para">
                    The Department of Earth and Atmospheric
                    Science is set up to provide state of the art
                    education and research in earth, climate and
                    ocean sciences. Earth and Atmospheric Science
                    is a strongly interdisciplinary subject which links
                    different resources (e. g. minerals, energy and
                    water), natural hazards, environmental issues,
                    and also serves as a significant relation to
                    weather and climate, which is inevitable for
                    human life and our society. The department
                    would focus on the exploration of economically
                    important mineral and energy resources,
                    evolution and internal dynamics of Earth,
                    surficial processes, natural & human-induced
                    hazards, environmental issues, weather and
                    climate and air quality modelling.
                </p>
                <h3 class="section-subheading text-muted"></h3>
                <h3 class="section-heading">ACCOMMODATION DETAILS</h3>
                <p class="para">
                    There are so many budget friendly hotels
                    near by the Rourkela Railway station.
                    Please visit for accommodation (), Apart
                    from this the organizing committee will
                    also arrange the accommodation on first
                    come first basis at Institute guest house
                    during 9-12,January, 2023. 
                    Interested delegates may send their requests to
                    <a href = "mailto: lai23nitrkl@gmail.com">lai23nitrkl@gmail.com</a>.
                </p>
                <h3 class="section-subheading text-muted"></h3>
                <h3 class="section-heading">HOW TO REACH NITR</h3>
                <p class="para">
                    <strong>Rail:</strong> Rourkela is well connected by train routes
                    with all parts of the country. It is situated on the
                    Howrah –Mumbai line and as well as on
                    Ranchi-Bhubaneshwar line. <br>
                    
                    <strong>Road:</strong> Rourkela is well connected with the
                    various parts of the state by NH 10 & 23. <br>
                    
                    <strong>Station to NITR Campus:</strong> Auto/Taxi available at
                    Rourkela railway station, which is 7 km away
                    from the campus. <br>
                </p>
                <style>
                    table, td, th, tr {
                      border:1px solid #000;
                      border-collapse: collapse;
                    }
                    th {
                        text-align: center;
                    }
                    table {
                        text-align: center;
                    }
                    td, th {
                        padding: 10px;
                    }
                    </style>
                <body>
                <table style="width:100%">
                    <tr>
                      <th>Nearest Railway Stations</th>
                      <th>Nearest Airport</th>
                    </tr>
                    <tr>
                      <td>Rourkela-7 kms <br>
                        Jharsuguda-130 kms <br>
                        Tatanagar- 135 kms <br>
                        Ranchi- 170 km</td>
                      <td>Jharsuguda - 130 km <br>
                        Ranchi-170 kms</td>
                    </tr>
                </table>
                </body>
            </div>
        </div>
    </div>
</section>