<!-- Patron Section -->
<section id="Co-convener" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Co-conveners</h2>
                <h3 class="section-subheading text-muted"> </h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.co-convener %}
            <div class="col-sm-3">
                <div class="team-member">
                    {% if {{member.name}} == null %}
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    {% else %}
                    <img src="img/co-convener/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>