<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://nitrkl.ac.in">
                    <img src="img/logos/NIT_Rourkela.png" style="float: left; margin-right: 5px;" alt="">
                </a>
                <a class="navbar-brand page-scroll" href="#page-top">LAI 2023, NITRKL </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#themes">Themes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#advisory_committee">Committees</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#program_committee">Organizing Committee</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScO6NQG6otEFTk1Lsas1ipUcDs8nKEY2vV9vmdcv-8ehMs08A/viewform"> Register</a>
                    </li>
                    <a href="https://nitrkl.ac.in/diamondjubilee/">
                        <img src="img/logos/nit_diamond.jpg" style="float: right; margin-left: 5px;" alt="">
                    </a>
                    <a href="https://amritmahotsav.nic.in/">
                        <img src="img/logos/azadi.png" style="float: right; margin-left: 5px;" alt="">
                    </a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">National Conference </br> on</div>
                <div class="intro-heading"> <small> Land-Atmosphere Interactions Controlling Weather & Climate: Applications of Numerical models and Observations </small> </div>
                <div class="intro-lead-in"> January 09-12, 2023 </div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScO6NQG6otEFTk1Lsas1ipUcDs8nKEY2vV9vmdcv-8ehMs08A/viewform" class="page-scroll btn btn-xl">Submit Abstract</a>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="font-size:22px;  font-weight:bold;">
                       * The deadline for the submission of abstracts has been extended till 30 November, 2022 *
                    </p>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

