<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include themes.html %}
    {% include about.html %}
    {% include about_nit.html %}
    {% include advisory_committee.html %}
    {% include program_committee.html %}
    {% include patron.html %}
    {% include convener.html %}
    {% include co-convener.html %}
    {% include local_org_committee.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>